!!! 5
html(ng-csp)
    head
        title.
            vacay:spyder
        link(rel='stylesheet', href='popup.css')
        script(src='analytics.js')

    body.ng-cloak(ng-show="initialized")
        ng-switch(on="authenticated")

            .auth(ng-switch-when="false", ng-controller="SigninCtrl", ng-class="{shake: shake}")
                form(autocomplete='off', ng-submit="signin()", name="signinForm")
                    .alert.alert-error(ng-class="{'visible' : message}", ng-bind="message")
                    .inputs
                        input(name="email", type="email", placeholder="Email", ng-model="email", required)
                        input(name="password", type="password", placeholder="Password", ng-model="password", required)
                    button.submit.btn(type='submit', ng-hide="signinForm.$invalid") Sign In

            main(ng-switch-when="true")
                ng-progress-circular(ng-show="loading")
                footer
                    span.user(ng-bind="username")
                    a.sign-out(ng-click="signout()") Signout

        script(src='vendor.js')
        script(src='popup.js')