$bg = #fafafa
$bg-light = #fcfcfc
$border = rgb(235,235,235)

$grey = #666
$yellow = #D3E478
$orange = orange
$red = rgba(204,17,0,1)
$green = green

$btn-border = rgba(0,0,0,0.15)
$btn-success = #51b364
