@import '00_variables.styl'
@import 'nib'

html
    height 200px
    width 300px
    overflow hidden

body
    position relative
    font-family "Helvetica Neue",sans-serif
    font-weight 300
    font-size 12px
    height 100%
    width 100%
    overflow hidden

main
    position relative
    height 100%
    width 100%
    background $bg
    z-index 1
    overflow-y scroll

a
    cursor pointer
    color inherit
    &:hover
        text-decoration underline

.cf
    &:before
    &:after
        content " "
        display table
    &:after
        clear both

[ng\cloak]
[ng-cloak]
.ng-cloak
    display none !important