@import '00_variables.styl'
@import 'nib'

.auth
    position absolute
    top 50%
    left 10%
    width 80%
    margin-top -66px
	.inputs
        border 1px solid $border
        border-radius 2px
        input
            border-bottom 1px solid $border
        input:not(:first-child)
            border-bottom none
	input
        padding 10px
	.submit
        width 100%
        background white
        padding 10px
        border-radius 2px
        margin-top 5px
        color white
        background $btn-success

@keyframes shake
    0%, 100%
        transform translateX(0)

    10%, 30%, 50%, 70%, 90%
        transform translateX(-10px)

    20%, 40%, 60%, 80%
        transform translateX(10px)

.shake
  animation shake 1s
  animation-fill-mode both
