@import '00_variables.styl'
@import 'nib'

.list
    padding 0 20px
    margin-bottom 50px

.item
    margin 18px 0 0

    button
        float left
        width 40px
        height 40px
        line-height 1
        background-color rgba(255,255,255,0.97)
        text-align center

    .item-info
        margin-left 55px
        padding-bottom 18px
        border-bottom 1px solid $border

    .item-title
        color rgba(0,0,0,0.8)
        font-size 14px
        line-height 18px
        max-width 96%
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

    .item-description
        font-size 14px
        margin-right 20px
        padding-top 5px
        color rgba(0,0,0,0.3)
