@import '00_variables.styl'
@import 'nib'

.auth
    position absolute
    top 50%
    left 25%
    width 50%
    margin-top -66px
	.inputs
        border 1px solid $border
        border-radius 2px
        input:not(:first-child)
            border-bottom none
	input
        padding 10px
	.submit
        width 100%
        background white
        margin-top 5px
        border-bottom 1px solid $border