@import '00_variables.styl'
@import 'nib'

.page
    position relative
    width 100%
    padding 15px 10px
    border-bottom 1px solid $border
    background $bg-light
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
