@import '00_variables.styl'
@import 'nib'

table
    max-width 500px
    table-layout fixed
    margin-bottom 19px

.table
    width 500px
    tr
        max-width 500px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        position relative
        display block
    th
    td
        padding 8px
        vertical-align top