@import '00_variables.styl'
@import 'nib'

.ngProgress-container
    position relative
    width 100%
    margin 0
    padding 0

.ngProgress
    margin 0
    padding 0
    background-color $yellow
    color $grey
    height 4px
    width 0%
    transition all .5s ease-in-out
