button.btn-success(ng-class="{active: isCrated}", ng-click="toggleCrate()")
    i.icon-crate-dark

.item-info
    h4.item-title
        a(ng-href="https://vacay.io/vitamin/{{vitamin.id}}", ng-bind="vitamin.title", target="_blank")
    p.item-description(ng-bind="vitamin.duration | duration")
